<div class="jumbotron">
  <h2>Encuentra los mejores restaurantes!!</h2>
  <p>Puedes realizar reseñas y calificar los restaurantes que conozcas, para que todos tus amigos las vean y también compartan sus opiniones.</p>
  <% if !user_signed_in? %>
    <p><%= button_to "Crea tu Cuenta Gratuita", new_user_registration_path, :method => :get, class:"btn btn-danger btn-lg" %></p>
  <% end %>
</div>

<p id="notice"><%= notice %></p>

<h3>Los mejores restaurantes!!</h3>

<table class="table table-hover table-condensed">
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><h4><%= restaurant.name %></h4></td>
        <% if restaurant.reviews.count > 0 %>
          <td class="star-rating" data-score="<%= restaurant.average %>"></td>
          <td><q><%= restaurant.reviews.last.comment %></q></td>
        <% end %>
        <td><%= link_to 'Ver Más', restaurant, class:"btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in?
  if current_user.admin? %>
    <%= link_to 'New Restaurant', new_restaurant_path, class:"btn btn-link" %>
<% end
end %>

<script>
  $('.star-rating').raty({
    path: 'https://storage.googleapis.com/imagestipoyelp/raty/images/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>