<div class="row">
  <div class="jumbotron col-md-7">
    <h3>Encuentra los mejores restaurantes!!</h3>
    <p>Realiza reseñas y califica los restaurantes que conozcas, para que todos tus amigos las vean y también compartan sus opiniones.</p>
    <% if !user_signed_in? %>
      <p><%= button_to "Crea tu Cuenta Gratuita", new_user_registration_path, :method => :get, class:"btn btn-danger btn-lg" %></p>
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<h3>Los mejores restaurantes!!</h3>

<table class="table table-hover table-condensed">
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><h4><%= link_to restaurant.name, restaurant %></h4></td>
        <% if restaurant.reviews.count > 0 %>
          <td><div class="star-rating" data-score="<%= restaurant.average %>"></div><%= restaurant.reviews.count %> reseñas</td>
          <td><q><%= restaurant.reviews.last.comment %></q></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in?
  if current_user.admin? %>
    <%= link_to 'New Restaurant', new_restaurant_path, class:"btn btn-link" %>
<% end
end %>

<script>
  $('.star-rating').raty({
    path: 'https://storage.googleapis.com/imagestipoyelp/raty/images/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>