<div class="row">
  <div class="col-md-4">
    <%= image_tag @restaurant.image_url %>
    <div>
      <h3>
        <%= @restaurant.name %>
      </h3>
      <div class="star-rating" data-score="<%= @promedio_raiting %>"></div>
      <p><%= @reviews.length %> reseñas.</p>
    </div>
    <p>
      <strong>Teléfono:</strong>
      <%= @restaurant.phone %>
    </p>
    <p>
      <strong>Sitio Web:</strong>
      <%= link_to @restaurant.website,  @restaurant.website, class: "btn btn-link" %>
    </p>
    <p>
      <strong>Dirección:</strong>
      <%= @restaurant.address %>
    </p>
    <iframe width="300" height="300" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBrU23O-1jc-gVXcL1AVvfCFm1VEEZEQzY&q=<%= @restaurant.address.parameterize %>">
    </iframe>
  </div>
  
  <div class="col-md-8">
    <div>
      <% if @reviews.blank? %>
        <h3>Se el primero en calificar este restaurante !!!</h3>
      <% else %>
        <div class="list_review">
          <h2>Reseñas</h2>
          <div class="well well-sm">
            <table class="table">
              <tbody>
                <% @reviews.each do |review| %>
                <tr>
                  <td><h4><%= review.user_name %></h4><%= review.created_at.strftime("%-m/%-d/%y") %></td>
                  <td><div class="star-rating" data-score="<%= review.raitng %>"></div></td>
                  <td>
                    <%= h(review.comment).gsub(/\n/, '<br/>').html_safe %><br>
                      <% if user_signed_in?
                        if current_user.id == review.user_id %>
                          <p>
                            <%= link_to 'Editar', edit_restaurant_review_path(@restaurant, review), class: 'btn btn-link' %> | 
                            <%= link_to 'Eliminar', restaurant_review_path(@restaurant, review), method: :delete, class: 'btn btn-link' %>
                          </p>
                      <% end 
                      end %>
                  </td>
                </tr>
                <% end %>
            </table>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to 'Regresar', restaurants_path, class:"btn btn-link" %>
      <% if user_signed_in? %>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Nueva Reseña
        </button>
      <% end %>
    </div>
  </div>
  
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Qué opinas de <%= @restaurant.name %>?</h4>
      </div>
      <div class="modal-body">
        <%= render 'reviews/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://storage.googleapis.com/imagestipoyelp/raty/images/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>