<p id="notice"><%= notice %></p>

<p>
  <strong>Raitng:</strong>
  <%= @review.raitng %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
